html {
}
body {
  background-color: rgb(13, 13, 13);
  padding:0;
  margin:0;
}
br {
   display: block;
   line-height:55px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 25px;
}
td {
  padding: 5px 15px;
  opacity: 0.8
}
table {
  margin-top: 5px;
  margin-bottom: 25px;
}
th {
  font-size: 2.2vw;
  width: 20%;
}
td {
  text-align: center;
  font-size: 1.5vw;
}
.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -webkit-pre-wrap; /*Chrome & Safari */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break: break-all;
white-space: normal;
}
.topPageFix {
  line-height: 3.2vw;
  background-color: white !important

}
.bar-item:hover{
  transition: 0.7s;
  background-color: white;
  color: black;
}
.bar-item:link {
  text-decoration: none;
}
.bar-item:visited {
  text-decoration: none;
}
.bar-item {
  padding: 8px 5%;
  text-align: center;
  background-color: black;
  color: white;
}
.col {
  float: left;
  width: 100%;
}
.col.1 {
  width: 8.33333%
}
.col.2 {
  width: 16.66666%
}
.col.3, .quarter {
  width: 24.99999%
}
.top {
  text-align: center;
  position: fixed;
  background-color: black;
  font-family: 'Oswald', serif;
  font-size: 1vw;
  padding: 20px 0px;
  width: 100%;
  z-index: 10;
  top: 0
}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before, .cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after {
    content: "";
    display: table;
    clear: both
}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.w3-col {
    padding: 0 8px
}
.padding {
  padding: 0px 10px;
  padding-bottom: 5px!important;
}
.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
.w3-card {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.16),0 4px 10px 0 rgba(0,0,0,0.12)
}
.quarter {
  display: inline-block;
  float: left;
  width: 15.8%;
  text-align: center;
  font-size: 1vw;
}
.w3-container {
  position: relative
  padding: 0.01em 16px

}
.titles {
  background-color: white;
  background-repeat: round;
  font-family: 'Noto Serif', serif;
}
.travellocation {
  font-size: 2.5vw;
  padding: 10vw 0px;
  padding-bottom: 5vw;
  color: white;
}
#animate-area	{
	background-image: url("https://opengameart.org/sites/default/files/desert_6.png");
	animation: animatedBackground 20s linear infinite;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.events {
  float: left;
  text-align: left;
  background-color: white;
  margin: auto;
}
.center {
  font-family: "Noto Serif", serif;
  background-color: white;
  margin: auto;
  display: block;
}
.center-cards {
}
.scheduletable {
  background-color: rgb(13, 13, 13);
  color: white;
  font-family: "Noto Serif", serif;
}
td:hover, th:hover {
  opacity: 1;
}
.footer, .footer:visited, .footer:link {
  padding: 5px 20px;
  font-family: "Noto Serif", serif;
  color: white;
}
.urls, .urls:visited, .urls:link {
  font-family: "Noto Serif", serif;
  color: white;
  display: inline-block;
  text-decoration: none;
}
.schedule {
  font-size: 8vw;
  text-align: center;
  padding: 5px 50px
}
.headings {
  padding: 3vw 0px;
}
.textheading {
  text-align: center;
  background-color: rgba(40,40,40, 0.5);
  display: block;
  margin: auto;
  width: 22vw;
  font-size: 5vw;
  color: white;
  font-family: 'Courgette';
  border: 5px solid white;
}
.homepage {
  background-position: 24vw 5vw;
  position: absolute;
  background-repeat: no-repeat;
}
.defaulttext {
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Courgette', cursive;
  position: absolute;
  padding-top: 15%;
  position:absolute;
  background-size: 100vw;
  width: 100%;
}
.linkonhomepage {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  position: absolute;
  left: 1vw;
  z-index: 10;
  top: 40vw;
  color: rgb(220,220,220);
  font-family: NotoSerif, serif;
  font-size: 1vw;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgb(255,255,255);
}
.footer {
  font-size: 1vw;
  text-align: center;
}
.uhhclassname {
  color: rgb(20,20,20);
  font-size: 20px;
  font-family: 'Courgette', cursive;
  padding: 0% 2%;
  left: 0;
  bottom: 0;
}
.hotelbackground {
  background-image: url("../images/hotels.jpg");
  background-position: 0px -20vw;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}
.eventsbackground {
  background-repeat: no-repeat;
  background-image: url("../images/events.jpg");
  object-fit: contain;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}
.schedulebackground {
  background-repeat: no-repeat;
  background-image: url("../images/schedule.jpg");
  background-position: center;
  object-fit: contain;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}
.costsbackground {
  background-repeat: no-repeat;
  background-image: url("../images/costs.jpg");
  background-position: center;
  object-fit: contain;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}
.flightsbackground {
  background-repeat: no-repeat;
  background-image: url("../images/flights.jpg");
  background-position: center;
  object-fit: contain;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}
@keyframes homescreen {
  0% {background-image: url("../images/animation/frame1.png");}
  2% {background-image: url("../images/animation/frame2.png");}
  4% {background-image: url("../images/animation/frame3.png");}
  6% {background-image: url("../images/animation/frame4.png");}
  8% {background-image: url("../images/animation/frame5.png");}
  10% {background-image: url("../images/animation/frame6.png");}
  12% {background-image: url("../images/animation/frame7.png");}
  14% {background-image: url("../images/animation/frame8.png");}
  16% {background-image: url("../images/animation/frame7.png");}
  18% {background-image: url("../images/animation/frame6.png");}
  20% {background-image: url("../images/animation/frame7.png");}
  22% {background-image: url("../images/animation/frame8.png");}
  24% {background-image: url("../images/animation/frame9.png");}
  26% {background-image: url("../images/animation/frame10.png");}
  28% {background-image: url("../images/animation/frame11.png");}
  30% {background-image: url("../images/animation/frame12.png");}
  32% {background-image: url("../images/animation/frame12.png");}
  34% {background-image: url("../images/animation/frame12.png");}
  36% {background-image: url("../images/animation/frame12.png");}
  38% {background-image: url("../images/animation/frame12.png");}
  40% {background-image: url("../images/animation/frame12.png");}
  42% {background-image: url("../images/animation/frame12.png");}
  44% {background-image: url("../images/animation/frame12.png");}
  46% {background-image: url("../images/animation/frame12.png");}
  48% {background-image: url("../images/animation/frame12.png");}
  50% {background-image: url("../images/animation/frame12.png");}
  100% {background-image: url("../images/animation/frame12.png");}
}
@-webkit-keyframes homescreen {
  0% {background-image: url("../images/animation/frame1.png");}
  2% {background-image: url("../images/animation/frame2.png");}
  4% {background-image: url("../images/animation/frame3.png");}
  6% {background-image: url("../images/animation/frame4.png");}
  8% {background-image: url("../images/animation/frame5.png");}
  10% {background-image: url("../images/animation/frame6.png");}
  12% {background-image: url("../images/animation/frame7.png");}
  14% {background-image: url("../images/animation/frame8.png");}
  16% {background-image: url("../images/animation/frame7.png");}
  18% {background-image: url("../images/animation/frame6.png");}
  20% {background-image: url("../images/animation/frame7.png");}
  22% {background-image: url("../images/animation/frame8.png");}
  24% {background-image: url("../images/animation/frame9.png");}
  26% {background-image: url("../images/animation/frame10.png");}
  28% {background-image: url("../images/animation/frame11.png");}
  30% {background-image: url("../images/animation/frame12.png");}
  32% {background-image: url("../images/animation/frame12.png");}s
  34% {background-image: url("../images/animation/frame12.png");}
  36% {background-image: url("../images/animation/frame12.png");}
  38% {background-image: url("../images/animation/frame12.png");}
  40% {background-image: url("../images/animation/frame12.png");}
  42% {background-image: url("../images/animation/frame12.png");}
  44% {background-image: url("../images/animation/frame12.png");}
  46% {background-image: url("../images/animation/frame12.png");}
  48% {background-image: url("../images/animation/frame12.png");}
  50% {background-image: url("../images/animation/frame12.png");}
  100% {background-image: url("../images/animation/frame12.png");}
}
.textonhome {
  color: black;
  margin-left: 8vw;
  padding-left: 2vw;
  margin-right: 8vw;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 0;
  text-align: left;
  background-color: white;
}
.rightimages {
  margin-left:55vw;
  text-align: right;
  height:15vw;
  position:absolute;
  z-index: 1;
}
.factheading {
  font-size: 3vw;
}
.test {
  padding-top: 100%;
  position: absolute;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  animation-name: homescreen;
  animation-duration: 3s;
  background-size: 50vw;
  margin-left: 26vw;
  width: 100%;
  animation-delay:1s;
  -webkit-transform: translateZ(0);
-moz-transform: translateZ(0);
-ms-transform: translateZ(0);
-o-transform: translateZ(0);
transform: translateZ(0);
}
.parallax {
  background-attachment: fixed;
  padding: 0px 0px;
  position: sticky;
}
