@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Yellowtail&display=swap');
html {
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', cursive;
}

.emphasize {
    color: rgb(0, 163, 168);
}

body {
    margin: 0;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.section-heading {
    font-size: 3vw;
    font-family: 'Bebas Neue', cursive;
}

.section {
    justify-content: center;
    display: flex;
    width: 40%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.big-text-main {
    font-size: 5vw;
    display:inline-block;
    margin-top: 0;
}

/**https://codepen.io/raf187/pen/BvgGRQ**/
.arrow{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 3vw;
    height: 3vw;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}